<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlbp-jZ6VAV33KGzXf-Ihwrcb4Dz_FQC4</string>
	<key>GCM_SENDER_ID</key>
	<string>121656597172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duangduean.bewarecloud.bewarecloud.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bewarecloud</string>
	<key>STORAGE_BUCKET</key>
	<string>bewarecloud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121656597172:ios:b50cb58dc58ddbae8c55e1</string>
</dict>
</plist>